/* Header  */

header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    font-family: 'oswald';
}
header h1{
    font-size: 18px;
    display: flex;
    align-items: center;
}
header h1 .cuadro{
    display: block;
    width: 15px;
    height: 15px;
    background-color: #fff;
    margin-right: 10px;
}
header nav ul{
    display: flex;
    list-style: none;
}
header nav ul li{
    padding: 10px 0;
    border-bottom: 3px solid transparent;
    margin: 0 30px;
}
header nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
}
header nav ul li a:hover{
    border-bottom: 3px solid #fff;
}
header button{
    border: none;
    padding: 3px 10px;
    text-transform: uppercase;
    cursor: pointer;
}


