
/* Responsive Section*/


@media screen and (max-width: 920px){
    header nav{
        display: none;
    }
    header nav.responsive{
        display: block;
        position: absolute;
        right: 10px;
        top: 55px;
        background-color: #1d1d1d;
        border: 1px solid #555;
        z-index: 10;
    }
    header nav.responsive ul{
        display: block;
    }
    #inicio .contenido .fila{
        display: block;
    }
    #inicio .contenido .fila .col{
        width: 100%;
        text-align: center;
    }
    #inicio .contenido .fila .col .txt{
        display: none;
    }
    #inicio .contenido .fila .col .ui{
        justify-content: center;
        font-size: 80px;
    }
    #inicio .contenido .fila .col .info{
        display: block;
        height: auto;
        text-align: center;
    }
    #inicio .contenido .fila .col .info h2{
        width: auto;
        margin: 30px 0;
        font-size: 30px;
    }
    #inicio .contenido .fila .col img{
        margin: auto;
        width: 150px;
    }
    #inicio .contenido .fila .derecha{
        padding-left: 0;
    }
    .circulo-principal{
        width: 200px;
        height: 200px;
    }
    /* seccion sobre mi */
    #sobremi{
        height: auto;
    }
    #sobremi .contenido .fila{
        display: block;
    }
    #sobremi .contenido .fila .col{
        width: 100%;
    }
    #sobremi .contenido .fila .col img{
        display: none;
    }
    #sobremi .contenido .fila .col .circulo-principal{
        display: none;
    }
    #sobremi .contenido .fila .col .barra-skill{
        width: 90%;
    }
    /* Section  Projects */
    #proyectos .contenido .fila{
        display: block;
    }
    #proyectos .contenido .fila .col{
        width: 90%;
        margin: 5px auto;
    }
    #clientes.contenido .fila .col .circulo-principal{
        display: none;
    }
   
    
    #clientes .contenido .fila .col > img{
        display: none;
    }
    #clientes .contenido .fila{
        display: block;
    }
    #clientes .contenido .fila .col{
        width: 100%;
        display: block;
    }
    /* seccion contacto */
    #contacto{
        height: auto;
    }
    #contacto img{
        display: none;
    }
    #contacto .img-subs{
        display: none;
    }
    #contacto form{
        max-width: 100%;
    }

    footer .contenido{
        display: block;
        text-align: center;
    }
    footer .contenido h3{
        width: 100%;
        border-bottom: none;
    }
    footer .contenido .col{
        width: 100%;
        margin-bottom: 25px;
    }
    footer .contenido .col3{
        width: 100%;
        text-align: center;
    }
    footer .contenido .titulo-footer{
        text-align: center;
    }
    footer .contenido.col ul{
        margin-top: 5px;
    }
    footer .contenido .redes{
        text-align: center;
    }
}
